# Based on JuliaSmoothOptimizers' Breakage.yml and Flux.jl' Downstream.yml:
# https://github.com/JuliaSmoothOptimizers/NLPModels.jl/blob/01b4d9f8d5e4ce6d2b529566605504845cbafd08/.github/workflows/breakage.yml
# https://github.com/FluxML/Flux.jl/blob/ce4b8a081aec37d5f8144044a5a7940f47210551/.github/workflows/Downstream.yml
name: Downstream testing

on:
  pull_request:

jobs:
  set_matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set_matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - id: set_matrix
        run: |
          echo "matrix=$(jq -c '{include: [to_entries[] | {package: .key, user: .value.user, version: .value.version} + (.value.extra // {})]}' .github/downstream.json)" >> "$GITHUB_OUTPUT"

  test:
    needs: set_matrix
    if: needs.set_matrix.result == 'success' && needs.set_matrix.outputs.matrix != ''
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.set_matrix.outputs.matrix) }}

    steps:
      - uses: julia-actions/setup-julia@v2
        with:
          version: 1
          arch: x64
      - uses: actions/checkout@v6
      - uses: julia-actions/julia-buildpkg@v1
      - uses: actions/checkout@v6
        with:
          repository: ${{ matrix.user }}/${{ matrix.package }}.jl
          fetch-tags: true
          path: downstream
      - run: ls downstream
      - name: "Checkout correct version"
        id: checkout
        env:
          VERSION: ${{ matrix.version }}
        run: |
          cd downstream
          if [ "$VERSION" == "stable" ]; then
            GIT_TAG=$(git tag -l "v*" --sort=-creatordate | head -n1)
          elif [ -z "$VERSION" -o "$VERSION" == "latest" ]; then
            GIT_TAG=main
          else
            GIT_TAG="$VERSION"
          fi
          git checkout "$GIT_TAG"
          echo "git_tag=$GIT_TAG" >> "$GITHUB_OUTPUT"
      - name: "pkg> develop"
        env:
          PROJECT: downstream
        run: |
          julia --project=$PROJECT -e 'using Pkg; Pkg.develop(PackageSpec(path="."))'
      - uses: julia-actions/julia-buildpkg@v1
        with:
          project: downstream
      # TODO: Replace with julia-actions/julia-runtest
      - run: echo "Fake test for ${{ matrix.package }}"
      - name: Save results
        if: always()
        run: |
          echo '{
            "package":"${{ matrix.package }}",
            "status":"${{ job.status }}",
            "git_tag":"${{ steps.checkout.outputs.git_tag }}",
            "job_url":"${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          }' > results.json
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: results-${{ matrix.package }}-${{ steps.checkout.outputs.git_tag }}
          path: results.json

  comment:
    needs: test
    if: always()
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: results-*
      - name: Aggregate results
        run: | # TODO: Can we move this to a script without having to actions/checkout everything?
          echo "## Downstream Results" >> results.md
          echo "" >> results.md
          echo "| Package name | Result |" >> results.md
          echo "| ------------ | ------ |" >> results.md
          count=0
          for file in results-*/results.json
          do
            package_name=$(jq -r '.package' "$file")
            git_tag=$(jq -r '.git_tag' "$file")
            job_url=$(jq -r '.job_url' "$file")
            status=$(jq -r '.status' "$file")
            if [ "$status" == "success" ]; then
              badge="$git_tag-Pass-green"
            else
              badge="$git_tag-Fail-red"
            fi
            badge="[![$status](https://img.shields.io/badge/$badge)]($job_url)"
            echo "| $package_name | $badge |" >> results.md
          done
      - name: Print results.md to CI logs
        run: cat results.md >> $GITHUB_STEP_SUMMARY
      - name: Find Comment
        # Only for non-forks:
        if: github.event.pull_request.head.repo.full_name == github.repository
        uses: peter-evans/find-comment@v4
        id: downstream
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: "github-actions[bot]"
          body-includes: Downstream Results
      - name: Comment on PR
        # Only for non-forks:
        if: github.event.pull_request.head.repo.full_name == github.repository
        uses: peter-evans/create-or-update-comment@v5
        with:
          comment-id: ${{ steps.downstream.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body-path: results.md
          edit-mode: replace
